@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import "tailwindcss";


@theme {
  --font-sans: "Poppins", sans-serif;
  --font-cursive: "Pacifico", "Sriracha", cursive;
  --font-cursive2: "Sriracha", cursive;
  --font-Titillium:"Titillium Web", sans-serif;

  --color-primary: #854d3d;
  --color-secondary: #4a1e1b;
  --color-brandDark: #270c03;
  --color-dark: #1e1e1e;
  --color-light: #f5f5f5;

  --container-padding: 1rem;
  --container-padding-sm: 3rem;

  --animate-spin-slow: spin 40s linear infinite;
}


html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans bg-[var(--color-light)] text-[var(--color-dark)];
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 40s linear infinite;
}

@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  @media (min-width: 640px) {
    .container {
      padding-left: var(--container-padding-sm);
      padding-right: var(--container-padding-sm);
    }
  }
}
